<template name="user_charts">
    <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-user"></i>&nbsp;{{_ "your_charts"}}</div>
        <div class="panel-body">
            {{#if currentUser }}
                {{#if Template.subscriptionsReady}}
                    {{#if hasCharts}}
                        <div class="list-group">
                            {{#each userCharts}}
                                <a href="/chart/{{_id}}" class="list-group-item">
                                    <h4 class="list-group-item-heading">{{getChartName this}}</h4>
                                    <p class="list-group-item-text">{{getChartDescription this}}</p>
                                </a>
                            {{/each}}
                        </div>
                    {{else}}
                        <div class="well">
                            {{_ "you_dont_have_charts"}}
                        </div>
                    {{/if}}
                {{else}}
                    {{> app_loading}}
                {{/if}}
            {{else}}
                <div class="well">
                    {{_ "signin_to_see_your_charts"}}
                </div>
            {{/if}}
        </div>
    </div>
</template>